@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--font-josefin: 'Josefin Sans', sans-serif;
	--color-parisuhde: #ef476f;
	--color-parisuhdeteksti: #ffe4ef;
	--color-juomapeli: #ffd166;
	--color-juompelikakkonen: #ffeab9;
	--color-juomapeliteksti: #482219;
	--color-neverteksti: #1c3144;
	--color-never: #06d6a0;
	--color-neverkakkonen: #b0f1e0;
	--color-tekstit: #494949;
	--color-taustasininen: #cde8f1;
	--color-taustapunanen: #ffe7ed;
	--color-taustakeltanen: #fcffd6;
}
